#=============================================================
# GLOBAL PARAMETERS CONFIGURATION                            |
#=============================================================
#-------------------------------------------------------------
# [*] SIMD micro-kernel Software Pipelining: 
#     [ T:Enable, F:Disable ]
#-------------------------------------------------------------
PIPELINING=F
#-------------------------------------------------------------
# [*] SIMD micro-kernel Unroll Factor: 
#     [ 0, 2, 4, 6, 8]
#-------------------------------------------------------------
UNROLL=0
#-------------------------------------------------------------
# [*] Data Type: 
#     [FP32]
#
#     WARNING: Actually, only FP32 available.
#-------------------------------------------------------------
DATA=FP32
#-------------------------------------------------------------
# [*] Architecture File Configuration:
#     File Name from "SIMD-arch" directory.
ARCH_CONFIG=NVIDIA_CARMEL
#=============================================================




#=============================================================
# PARAMETERS ONLY FOR RISC-V                                 |
#=============================================================
#-------------------------------------------------------------
# [*] SIMD Risc-V micro-kernel Reorder Loads: 
#     [ T:Enable, F:Disable ]
#-------------------------------------------------------------
REORDER=T
#-------------------------------------------------------------
# [*] SIMD Risc-V Matrix Operation Mode: 
#     [ NORMAL, GATHER, BROADCAST ]
#-------------------------------------------------------------
OP=GATHER
#=============================================================
